<div class="wrapper">
<div class="drum-wrapper">
  <div class="drum-keys">
    <div *ngFor="let sounds of soundList " class="key" id="{{sounds.keycode}}" appKeyPressed>
      <audio [id]="sounds.id" src="{{sounds.url}}"></audio>
      {{sounds.keyTrigger}}
    </div>
  </div>
  <div class="controls">
    <div class="power">
      <p class="powertitle">Power</p>

      <input type="radio" value="Off" name="switch"> On
      <input type="radio" value="On" name="switch"> Off


    </div>
    <div class="message">
      <div class="current-message" [innerHTML]="message">

      </div>

    </div>
    <div class="bank">
      <p class="banktitle">Bank</p>
      <input type="radio" value="bankOne" name="bank"> Bank 1
      <input type="radio" value="bankTwo" name="bank"> Bank 2


    </div>
  </div>
</div>
</div>
